@{
    ViewData["Title"] = "Akkon Beautiful";
}



<div>
<!-- Usage of azlyrics.com content by any third-party lyrics provider is prohibited by our licensing agreement. Sorry about that. -->
<i>[Akon]</i><br>
When I see you<br>
I run out of words to say (oh, oh)<br>
I wouldn't leave you<br>
'Cause you're that type of girl to make me stay (oh, oh)<br>
<br>
I see the guys tryna' holla<br>
Girl I don't wanna bother you<br>
'Cause you're independent and you got my attention<br>
Can I be your baby father?<br>
Girl I just wanna show you<br>
That I love what you are doin' hun<br>
<br>
I see you in the club<br>
You gettin' down good<br>
I wanna get with you, yeah<br>
I see you in the club<br>
You showin' thugs love<br>
I wanna get with you<br>
<br>
You're so beautiful<br>
So damn beautiful<br>
Said you're so beautiful<br>
So damn beautiful<br>
<br>
<i>[Akon &amp; Colby O'Donis]</i><br>
You're so beautiful<br>
Beautiful<br>
Beautiful<br>
Beautiful<br>
You're so beautiful<br>
Beautiful<br>
Beautiful<br>
Beautiful<br>
You're so beautiful<br>
<br>
<i>[Colby O'Donis]</i><br>
Like the clouds you<br>
Drift me away, far away (yeah)<br>
And like the sun you<br>
Brighten my day, you brighten my day (yeah)<br>
I never wanna see you cry, cry, cry<br>
And I never wanna tell a lie, lie, lie<br>
Said I never wanna see you cry, cry, cry<br>
And I never wanna tell a lie, lie, lie<br>
<br>
<i>[Akon]</i><br>
I see you in the club<br>
You gettin' down good<br>
I wanna get with you, yeah<br>
I see you in the club<br>
You showin' thugs love<br>
I wanna get with you<br>
<br>
You're so beautiful<br>
So damn beautiful<br>
Said you're so beautiful<br>
So damn beautiful<br>
<br>
<i>[Akon &amp; Colby O'Donis]</i><br>
You're so beautiful<br>
Beautiful<br>
Beautiful<br>
Beautiful<br>
You're so beautiful<br>
Beautiful<br>
Beautiful<br>
Beautiful<br>
<br>
<i>[Kardinal Offishall]</i><br>
Kardinal told you<br>
Whether the sky blue or yellow<br>
This fella ain't that mellow<br>
If it ain't about you (you)<br>
Hourglass shape make the place go (oh)<br>
Waistline makes my soldier salute<br>
I'mma brute (brute)<br>
High from your high heel game<br>
High heels push up ya ass last name<br>
And you livin' in the fast lane<br>
Eyes like an angel (goddess)<br>
Watch my yellin' as she undress<br>
Spotless, heartless, bad to the bone<br>
Make me wanna go put me in the triple-X zone (zone)<br>
Lames don't know how to talk to you<br>
So let me walk with you, hold my hand<br>
I'mma spend them grands, but after you undress<br>
Not like a hooker, but more like a princess<br>
Queen, empress, president<br>
Pull anywhere you go on Earth<br>
'Cause you're beautiful (okay?)<br>
<br>
<i>[Akon]</i><br>
I see you in the club<br>
You gettin' down good<br>
I wanna get with you (oh yeah)<br>
I see you in the club<br>
You showin' thugs love<br>
I wanna get with you<br>
<br>
You're so beautiful<br>
So damn beautiful<br>
Said you're so beautiful (so beautiful)<br>
So damn beautiful (so beautiful)<br>
<br>
<i>[Akon &amp; Colby O'Donis]</i><br>
You're so beautiful<br>
Beautiful<br>
Beautiful<br>
Beautiful<br>
You're so beautiful<br>
Beautiful<br>
Beautiful<br>
Beautiful<br>
You're so beautiful<br>
<br>
<i>[Akon]</i><br>
Where'd you come from? You're outta this world to me<br>
You're a symbol of what every beautiful woman should be (oh wee) (oh, oh)<br>
<br>
<i>[Colby O'Donis]</i><br>
I never wanna see you cry, cry, cry (don't cry)<br>
And I never wanna tell a lie, lie, lie (oh yeah)<br>
Said I never wanna see you cry, cry, cry (oh)<br>
And I never wanna tell a lie, lie, lie (lie)<br>
<br>
<i>[Akon]</i><br>
I see you in the club<br>
You gettin' down good<br>
I wanna get with you (ooh yeah)<br>
I see you in the club<br>
You showin' thugs love<br>
I wanna get with you<br>
<br>
You're so beautiful<br>
So damn beautiful<br>
Said you're so beautiful<br>
So damn beautiful<br>
You're so beautiful
</div>

<br><br>

</div>