@{
    ViewData["Title"] = "Sunshine";
}




<br>Saari umar hum<br>
Mar mar ke jee liye<br>
Ek pal to ab humein jeene do<br>
Jeene do<br>
<br>
Saari umar hum<br>
Mar mar ke jee liye<br>
Ek pal to ab humein jeene do<br>
Jeene do<br>
<br>
Saari umar hum<br>
Mar mar ke jee liye<br>
Ek pal to ab humein jeene do<br>
Jeene do<br>
<br>
Na na na….Na na na….Na na na….Na na nana na….<br>
<br>
Give me some sunshine<br>
Give me some rain<br>
Give me another chance<br>
I wanna grow up once again<br>
<br>
Give me some sunshine<br>
Give me some rain<br>
Give me another chance<br>
I wanna grow up once again<br>
<br>
Kandhon ko kitabon<br>
Ke bojh ne jhukaya<br>
Rishvat dena to khud<br>
Papa ne sikhaya<br>
99% marks laaoge to ghadi, varna chhadi<br>
<br>
Likh likh kar pada hatheli par<br>
Alpha, beta, gamma ka chaala
<div class='my-2' id='ilad'><ins class='adsbygoogle' style='display:inline-block;width:300px;height:250px' data-ad-client='ca-pub-4801415104534511' data-ad-slot='1869312781'></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>
Concentrated H2SO4 ne poora<br>
Poora bachpan jalaa daala<br>
<br>
Bachpan to gaya<br>
Jawani bhi gayi<br>
Ek pal to ab humein<br>
Jeene do jeene do<br>
<br>
Bachpan to gaya<br>
Jawani bhi gayi<br>
Ek pal to ab humein<br>
Jeene do jeene do<br>
<br>
Saari umar hum<br>
Mar mar ke jee liye<br>
Ek pal to ab humein jeene do<br>
Jeene do<br>
<br>
Na na na….Na na na….Na na na….Na na nana na….<br>
<br>
Give me some sunshine<br>
Give me some rain<br>
Give me another chance<br>
I wanna grow up once again<br>
<br>
Give me some sunshine<br>
Give me some rain<br>
Give me another chance<br>
I wanna grow up once again<br>
<br>
Na na na….Na na na….Na na na….Na na nana na….<br>
Na na na….Na na na….Na na na….Na na nana na….<br>
</div><br>